@import 'src/styles';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

    .textArea {
        width: 450px;
        height: 180px;
        border: 1px solid $color-text-secondary;
    }

    .sendContainer{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 450px;
        gap: 5px;

        .sendButton {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 100px;
            background-color: #eaeaea;
            border: 1px solid $color-text-secondary;
            
    
            .text {
                color: $color-text-primary;
                font-size: $typography-primary-font-size;
            }
        }
    }
}