$color-text-link: #ff6709;
$color-text-link-hover: #A74300;
$color-text-primary: #333333;
$color-text-secondary: #5D5D5D;
$color-background: #eeeeee;
$color-icon: #ececec;
$color-icon-background: #9e9e9e;
$color-icon-background-hover: #7E7E7E;

$font-main: 'Trebuchet MS';

$typography-header-l-font-size: 96px;
$typography-header-m-font-size: 60px;
$typography-header-s-font-size: 48px;
$typography-header-xs-font-size: 34px;
$typography-title-font-size: 24px;
$typography-subtitle-font-size: 20px;
$typography-primary-font-size: 16px;
$typography-header-font-size: 15px;
$typography-secondary-font-size: 14px;
$typography-text-font-size: 13px;
$typography-accent-font-size: 12px;
$typography-small-text-font-size: 10px;
