@import 'src/styles';

.container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    gap: 25px;
    width: 700px;
    padding: 5px;
    padding-right: 50px;
    padding-bottom: 20px;

    .head {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .headText {
            font-size: $typography-primary-font-size;
            color: $color-text-secondary;
        }

        .replyLink {
            font-size: $typography-primary-font-size;
        }
    }

    .text {
        font-size: $typography-primary-font-size;
        color: $color-text-primary;
        margin: 0;
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 20px;

        .link {
            font-size: $typography-primary-font-size;
        }
    }
}

.selected {
    background-color: $color-post-selected-background;
}
