@import 'src/styles';

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .head {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .headText {
            font-size: $typography-primary-font-size;
            color: $color-text-secondary;
        }

        .replyLink {
            font-size: $typography-primary-font-size;
        }
    }

    .text {
        font-size: $typography-primary-font-size;
        color: $color-text-primary;
    }

    .replyElements {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .replies {
            display: flex;
            flex-direction: row;
            gap: 10px;
    
            .replyLink {
                font-size: $typography-primary-font-size;
            }
        }

        .expandString {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .expandButton {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                border: none;
                width: 18px;
                height: 18px;
                background-color: $color-icon-background;
                border-radius: 2px;

                .expandIcon {
                    width: 14px;
                    height: 14px;
                    color: $color-icon;
                }
            }

            .expandButton:hover {
                background-color: $color-icon-background-hover;
                cursor: pointer;
            }

            .text {
                font-size: $typography-primary-font-size;
                color: $color-text-secondary;
            }
        }
    }
}