@import 'src/styles';

.container {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .textArea {
        width: 450px;
        height: 180px;
        border: 1px solid $color-text-secondary;
    }

    .row {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;

        .sendButton {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 100px;
            background-color: #eaeaea;
            border: 1px solid $color-text-secondary;
            
    
            .text {
                color: $color-text-primary;
                font-size: $typography-primary-font-size;
            }
        }
    
        .check {
            height: 25px;
            width: 25px;
        }

        .text {
            color: $color-text-primary;
            font-size: $typography-primary-font-size;
        }
    }
}